<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/metaHead'); %>
    <title>Email</title>
</head>
<body>
    <h1>Your report has been sent to your email</h1>
    <a href="/" class="waves-effect waves-light btn">Back to nature</a>
</body>
</html>