<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./partials/metaHead'); %>
    <title>Landing Error</title>
</head>
<body>
    <h1>Hey where are you going?</h1>
    <a href="/" class="waves-effect waves-light btn">Back to nature</a>
</body>
</html>