nav{
    padding: 0 15px;
    margin-bottom: 10em !important;  
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;  
}

.search_input{
    width: 50% !important;
    height: 4em !important;
    border-bottom: 1px solid #fff!important;
    padding: 0 22px 0 40px !important;
    box-sizing: border-box !important;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em !important;
    letter-spacing: 1px;
}
.home_moto{
    color: #ffffff;
    font-size: 3em !important;
    font-size: 4.5rem !important;
    line-height: 110% !important;
    margin: 0.5em 0 !important;
    font-weight: 500 !important;
}

.home_motoh4{
    color: #ffffff;
    font-size: 2em !important;
    margin: 1em 0 !important;
}

.inline_motto{
    margin :-0.4rem 0 .912rem 0.55em !important ;
}

.row_home{
    text-align: center !important;
    padding: 0 0 7em 0 !important;
    background-image: url("img/pexels-photo-619950.jpg");
}

.button_submit_search{
    height: 4em !important; 
    margin: 0 0 22px -4px !important;
    border-radius: 0 30px 30px 0px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2) !important;
    border: 1px !important;
    box-sizing: border-box !important;
}

.color_button_search{
    background-color: #ee6e72 !important;
}

.error_message{
    color: red;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: .5px;
}

.materialize-textarea{
    padding: .8em 0 0em 0 !important;
}